
.headerImg {
  width:680px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.hr1 {
  height:2px;
  width:100%;
  background-color:#6cb0d2;
  margin-bottom:4px;
}

.hr2 {
  height:6px;
  width:100%;
  background-color:#6cb0d2;
  margin-bottom:38px;
}


.photos {
  // display:flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: flex-start;
  // align-items: flex-start;

  // margin-left:40px;
  // margin-right:40px;
}

